html, body {
     height: 100%;
     color: white;
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     margin: 0;
}

body:before {
  background-image: linear-gradient(#816a9c, #3f959a);
  background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

body {
  background-image: linear-gradient(#816a9c, #3f959a);
  background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.title {
  font-family: "Bungee", sans-serif;
  font-size: 56px;
}

.cont {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  scroll-snap-align: start;
}

.mailinglist {
	background-color:transparent;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:10px;
  opacity: .95;
	text-decoration:none;
}

.mailinglist:hover {
  background-color: white;
  color: #816a9c;
  transition: background-color .3s;
  transition: color .3s;
}

.divider {
  height: 1px;
  background-color: white;
  opacity: .5;
  margin-top: 30px;
  margin-bottom: 10px;
}

i:hover {
  color: #d6d4de;
  transition: background-color .3s;
  transition: color .3s;
  cursor: pointer;
}

i {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration-style: dotted;
  color: #d6d4de;
}

a:hover, i:hover {
  text-decoration-style: dotted;
  color: white;
  transition: color .3s;
}

p {
  margin-top: 0px;
  margin-bottom: 50px;
}

.person img {
  float: left;
   clear: left;
  height: 150px;
  border-radius: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.description h3 {
  vertical-align: top;
}

.person {
  min-height: 200px;
}

.person i {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
}

.first {
  margin-left: 15px;
}

.navbar {
  width: 100%;
  text-align: right;
  margin-bottom: 50px;
  margin-top: 30px;
}

.tab {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.tab a {
  color: white;
  text-decoration: none;
}

.tab a:hover {
  color: #d6d4de;
  transition: color .3s;
}

h2 {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.services p {
  margin: 0;
  margin-bottom: 20px;
}

#heart {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 14px;
}

#footer {
  text-align: center;
  opacity: .6;
  font-size: 14px;
}

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
}
