html, body {
     height: 100%;
     color: white;
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     margin: 0;
     width: 100%;
}

p {
  font-weight: 300;
}

h3 {
  font-weight: 500;
}

b {
  font-weight: 500;
}

body:before {
  background-image: linear-gradient(#816a9c, #3f959a);
  background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

body {
  background-image: linear-gradient(#816a9c, #3f959a);
  background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.title {
  font-family: "Bungee", sans-serif;
  font-size: 56px;
}

.cont {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  scroll-snap-align: start;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.mailinglist {
	background-color:transparent;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:10px;
  opacity: .95;
	text-decoration:none;
}

.mailinglist:hover {
  background-color: white;
  color: #816a9c;
  transition: background-color .3s;
  transition: color .3s;
}

.divider {
  height: 1px;
  background-color: white;
  opacity: .5;
  margin-top: 30px;
  margin-bottom: 10px;
}

i:hover {
  color: #d6d4de;
  transition: background-color .3s;
  transition: color .3s;
  cursor: pointer;
}

i {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration-style: dotted;
  color: #d6d4de;
}

a:hover, i:hover {
  text-decoration-style: dotted;
  color: white;
  transition: color .3s;
}

p {
  margin-top: 0px;
  margin-bottom: 50px;
}

.person img {
  height: 150px;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  float: right;
}

.description h3 {
  vertical-align: top;
}

.description {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.person {
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
}

.person i {
  margin-right: 5px;
  margin-left: 0;
  font-size: 20px;
}

.profpic {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.navbar {
  width: 100%;
  text-align: right;
  margin-bottom: 50px;
  margin-top: 30px;
}

.tab {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.tab a {
  color: white;
  text-decoration: none;
}

.tab a:hover {
  color: #d6d4de;
  transition: color .3s;
}

h2 {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.services p {
  margin: 0;
  margin-bottom: 20px;
}

.services {

}

#heart {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 14px;
}

#footer {
  text-align: center;
  opacity: .6;
  font-size: 14px;
}

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
}

.service {
  width: 48%;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (max-width: 560px) {
  .service {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    box-sizing: border-box;
  }
  .service_cont {
    display: block !important;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .title {
    font-size: 30px;
  }
  p {
    font-size: 13px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .person img {
    float: none;
    margin: 0;
  }
}

.service_cont {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}

.down {
  margin-top: 30px;
  opacity: .8;
}
