html, body {
     height: 100%;
     color: white;
     font-family: 'Cabin', sans-serif;
     margin: 0;
     width: 100%;
}

h3 {
  font-weight: 500;
}

b {
  font-weight: 900;
}

body {
 background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('bg.jpg');
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.title {
  font-family: "Staatliches", sans-serif;
  font-size: 84px;
}



.gradient {
  color: rgb(91, 192, 235);
  background-image: linear-gradient(to right, rgb(91, 192, 235) 25%,
  rgb(202, 255, 185) 50%, rgb(155, 197, 61));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;

  filter: drop-shadow(2px 2px 2px #000);
}

#home i {
  font-size: 44px;
}

.cont {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  scroll-snap-align: start;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.mailinglist {
	background-color:transparent;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:10px;
  opacity: .95;
	text-decoration:none;
}

.mailinglist:hover {
  background-color: white;
  color: #816a9c;
  transition: background-color .3s;
  transition: color .3s;
}

.divider {
  height: 1px;
  background-color: white;
  opacity: .5;
  margin-top: 30px;
  margin-bottom: 10px;
}

.subs {
  line-height: 1rem;
  font-size: 1.3rem;
}

.subs tag {
  border-radius: 3px;
  padding: 5px;
  font-size: 80%;
  margin-right: 5px;
}

.subs tag.coke {
  background-color: rgba(244, 0, 9, 0.5);
}

.subs tag.blue {
  background-color: rgb(91, 192, 235, 0.5);
}

i {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

img.smolboi {
  width: 25px;
  margin-right: 2.5px;
  vertical-align: text-top;
}

a {
  border-bottom: 1.5px dotted;
  text-decoration: none;
  color: #f2f2f5;
}

a:hover, i:hover {
  text-decoration-style: dotted;
  color: white;
  transition: color .3s;
}

p {
  font-family: "Cabin", sans-serif;
  line-height: 1.8rem;
  font-size: 1.15rem;
}

p.focus {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.centered {
  text-align: center;
}

.person img {
  height: 250px;
  border-radius: 15px;
  float: right;
  margin-left: 30px;
  margin-bottom: 10px;
}

.description h3 {
  vertical-align: top;
}

.description {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.person {
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  margin-top: 35px;
}

.person i {
  margin-right: 5px;
  margin-left: 0;
  font-size: 20px;
}

.profpic {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.navbar {
  width: 100%;
  text-align: right;
  margin-bottom: 50px;
  margin-top: 30px;
}

.tab {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.tab a {
  color: white;
  text-decoration: none;
}

.tab a:hover {
  color: #d6d4de;
  transition: color .3s;
}

h2 {

  font-size: 3rem;
  font-family: "Staatliches", monospace;
  filter: drop-shadow(2px 2px 2px #368caf);

}

.services p {
  margin: 0;
  margin-bottom: 20px;
}

#heart {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 14px;
}

#footer {
  text-align: center;
  opacity: .6;
  font-size: 14px;
}

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
}

.service {
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (max-width: 560px) {
  .service {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    box-sizing: border-box;
  }
  .service_cont {
    display: block !important;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .title {
    font-size: 33px;
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .person img {
    float: none;
    margin: 0;
  }
}

.service_cont {
  /* display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between; */
}

.service h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 900;
}

.service p {
  margin: 0;
}

.down {
  margin-top: 30px;
  opacity: .8;

}

/* .down i {
  animation-name: bounce;
  animation-duration: 5s;
} */

@@keyframes bounce {
  /* 0%, 10%, 25%, 40%, 50% {transform: translateY(0);}
    20% {transform: translateY(-20px);}
    30% {transform: translateY(-10px);} */
    0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

ul {
  margin-top: 0px;
}

table {
  margin-top: 15px;
  width: 100%;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

td {
  padding: 10px;
}
